@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Səbət</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th></th>
                            <th>Məhsulun adı</th>
                            <th>Qiyməti</th>
                            <th>Sayı</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td><img style="width:80px" src="@item.PictureUrl"/></td>
                                <td >@item.ProductName</td>
                                <td>
                                    @item.GetCurrentPrice TL @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} uygulandı)" : "")
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-productId="@item.ProductId" style="color:red; font-size:1.5rem"><i class="fa-sharp fa-solid fa-xmark"></i></a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {

                            <tr>
                                <td>Endirim</td>
                                <th colspan="2"> % @Model.DiscountRate.Value</th>
                            </tr>

                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Endirimli qiymət" : "Toplam qiymət")</td>
                            <th colspan="2">@Model.TotalPrice AZN</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" endirim kuponu istifadə edildi
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount"> Kuponu ləğv et</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Endirim kodunu daxil edin" name="DiscountApplyInput.Code">
                            <button class="ml-2 genric-btn primary small" type="submit">İstifadə et</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="alert alert-danger text-danger">Endirim kodu tapılmadı</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="genric-btn danger circle" asp-controller="Orders" asp-action="Checkout">Ödəniş et</a>
                    <a class="genric-btn danger circle" asp-controller="Home" asp-action="Index">Aliş veriş etməyə davam edin</a>
                }
                else
                {
                    <div class="alert alert-info py-3">
                        Səbətiniz boşdur :(
                        <p class="text-info">Səbətinizə məhsul <a asp-action="Index" asp-controller="Products" class="text-danger"> əlavə edin :)</a></p>
                        
                    </div>
                   
                }
            </div>
        </div>
    </div>
</div>