@model List<UserViewModel>


<h2 class="text-center"><a asp-controller="Admin" asp-action="Index" class="text-dark">Admin Panel</a></h2>
<div class="container">
    <h5>Müştərilər</h5>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Müştəri ID</th>
                <th scope="col">Müştərinin adı</th>
                <th scope="col">Müştərinin soyadı</th>
                <th scope="col">Məhsulun istifadəçi adı</th>
                <th scope="col">Elektron poçtu</th>
                <th scope="col">Nömrəsi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="">
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>
            }

        </tbody>
    </table>

</div>