@model OrderViewModel
<h2 class="my-2" style="text-align:center">Sifariş məlumatları</h2>
<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <tr>
                <th>Məhsulun şəkli</th>
                <th>Məhsulun adı</th>
                <th>Qiyməti</th>
                <th>Sayı</th>
                <th>Toplam ödənilmiş məbləğ</th>
            </tr>
            @foreach (var order in Model.OrderItems)
            {
                <tr>
                    <td><img style="width:70px" src="@order.PictureUrl" /></td>
                    <td>@order.ProductName</td>
                    <td>@order.Price</td>
                    <td>@order.Quantity</td>
                    <td>@order.TotalPrice()</td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-striped">
            <tr>
                <th>Sifariş No:</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Sifariş tarix</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Məhsul sayı</th>
                <td>@Model.OrderItems.Count</td>
            </tr>
        </table>
    </div>
</div>


